@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-safe min-h-screen text-zinc-900 bg-blue-900 antialiased select-none;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

input:checked~.dot {
	transform: translateX(100%);
	background-color: #48bb78;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 80vh;
	/* Adjust the height to your liking */
	padding: 20px;
	background-color: #333;
}