@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply p-safe min-h-screen text-zinc-900 bg-blue-900 antialiased select-none;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

input:checked ~ .dot {
	transform: translateX(100%);
	background-color: #48bb78;
}
